body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; 
    color: #000;
}

/* Header */

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    background-color: #aebaff;
    padding: 1rem;
    color: white;
}



nav {
    position: absolute;
    right: 1rem;
    top: 50%;           
    transform: translateY(-50%);
}


nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



/* Main */


main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    flex: 2 1 60%;
    background-color: #f0f0ff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.intro article {
    text-align: center;
}

.sidebar {
    flex: 1 1 30%;
    background-color: #aebaff;
    
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
}

/*  Images  */
img {
    display: block;
    margin: 1rem auto;
    width: 30%;
    max-width: 600px;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #aebaff;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
}

/*loader*/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Mobile scaling */

@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    } 
}

@media screen and (min-width: 1024) {
    body {
        font-size: 18px;
    } 
}

@media screen and (min-width: 1440) {
    body {
        font-size: 18px;
    } 
}


